.main_view {
  width: 100%;
}
.main_app {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.top_items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .top_items {
    flex-direction: row;
  }
}

@media screen and (min-width: 991px) {
  .main_view {
    width: calc(100% - 270px);
    margin-left: 270px;
  }
  .main_app {
    padding: 22px 40px;
  }
}
